.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.installBox {
  max-width: 400px;
  margin: 2rem auto 0;
  text-align: left;
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}
